<%- include("partials/header") -%>

<div class="jumbotron container-fluid div-content">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mb-4 ml-auto myInput" type="search" placeholder="Search Entries" aria-label="Search">
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Patient SSN</th>
        <th scope="col">Name</th>
        <th scope="col">Prescription_ID</th>
        <th scope="col">Status</th>
        <th scope="col">Drop_off Time</th>
        <th scope="col">Pickup_Time</th>
        <th scope="col">Pres_Date</th>
        <th scope="col">Doctor SSN</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Drug</th>
        <th scope="col">Drug Manf.</th>
      </tr>
    </thead>
    <tbody class="myTable">
      <% for(var i in rows){%>
      <tr>
        <th scope="row"><%=rows[i].ssn%></th>
        <td><%=rows[i].name%></td>
        <td><%=rows[i].pre_id%></td>
        <td><%=rows[i].status%></td>
        <td><%=rows[i].drop_off_time%></td>
        <td><%=rows[i].pick_up_time%></td>
        <td><%=rows[i].pre_date%></td>
        <td><%=rows[i].phy_ssn%></td>
        <td><%=rows[i].name%></td>
        <td><%=rows[i].quantity%></td>
        <td><%=rows[i].trade_name%></td>
        <td><%=rows[i].pharm_co_name%></td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>
<%- include("partials/footer") -%>
